<footer>
    <div class="inner">
        <div class="Widgets">
            {{#if global.left_bottom_HTML}}
                <div class="aWidget">
                    {{{global.left_bottom_HTML}}}
                </div>
            {{/if}}
            {{#if global.right_bottom_HTML}}
                <div class="aWidget">
                    {{{global.right_bottom_HTML}}}
                </div>
            {{/if}}
        </div>
        <div style="clear: both;"></div>
        <p>
            {{global.copyright_notice}}
        </p>
        <p>
            Proudly powered by <a href="https://www.endurojs.com/" target="_blank" title="Enduro"><i class="icon-enduro-wide"></i>
        </p>
    </div>
</footer>
